<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obtener Tweets</title>
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <style>
      body {
        height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
      }
    </style>
  </head>
  <body class="d-flex justify-content-center align-items-center">
    <form
      class="border shadow-sm p-4 mb-5 bg-body-tertiary rounded text-center"
    >
      <fieldset>
        <legend>Obtener los tweets de las cuentas de X</legend>
        <button type="submit" class="btn btn-primary">Obtener Tweets</button>
      </fieldset>
    </form>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
